.custom-button {
    position: relative;
    display: inline-block; // 블록 대신 인라인 블록으로 설정하여 내용에 따라 크기 조정
    background: #4A90E2; // 새로운 배경색
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    text-decoration: none;
    padding: 1em 2em; // 패딩 조정
    border: 0;
    cursor: pointer;
    outline: 0;
    font-weight: 500; // 폰트 무게 변경
    margin: 20px auto; // 마진 조정
    transition: background-color 0.35s ease-in-out;

    &:hover {
        background: #357ABD; // 호버 시 배경색 변경
    }
}
