.quiz-container {
    padding-bottom: 10px; /* 퀴즈 컨테이너 아래쪽에 추가 공간 생성 */
}

.quiz-container h1 {
    margin-bottom: 100px; /* 퀴즈 질문과 버튼 사이의 간격 조절 */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.confirmation-container {
    margin-bottom: 50px
}
.confirmation-container p {
    margin-bottom: 50px
}

.result-container{
    margin-bottom: 50px
}
.result-container p {
    margin-bottom: 50px
}

.quiz-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 80px;
}

.quiz-button:hover {
    background-color: #0056b3;
}
